<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Aula</title>
</head>
<body>
    <h1>Criar Nova Aula</h1>
    <form method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>

        <label for="instrutor">Instrutor:</label>
        <input type="text" id="instrutor" name="instrutor" required><br>

        <label for="dia">Dia:</label>
        <input type="date" id="dia" name="dia" value="{{ dia }}" required><br>

        <label for="inicio">Início:</label>
        <input type="time" id="inicio" name="inicio" value="{{ hora }}" required><br>

        <label for="fim">Fim:</label>
        <input type="time" id="fim" name="fim" required><br>
        
        <label for="max_alunos">Número de Alunos:</label>
        <input type="text" id="max_alunos" name="max_alunos" required><br>

        <button type="submit">Criar Aula</button>
    </form>
    <a href="{% url 'horario_semanal' %}">Voltar ao calendário</a>
</body>
</html>
